extends layout

include mixins/_storeCard

block content
  .inner
    h2= title
    .stores
      each store in stores
        +storeCard( store )
    .pagination
      if pagination.prev
        .pagination__prev
          a.pagination__text(href=`${pagination.prev}`) Previous Page
      if pagination.next
        .pagination__next
          a.pagination__text(href=`${pagination.next}`) Next Page